@use '../variables';
@use '../mixins';

button {

    color: variables.$btn-default-color;
    background-color: variables.$btn-default-backgroundColor;
    padding: variables.$btn-default-padding;

    &:hover {

        
    }
    
    // Form submit button
    &[type="submit"] {


    }
}