@use '../variables';
@use '../mixins';

///////////////////////////////////////////////
// Navigation Wrapper <header>
///////////////////////////////////////////////

header {

    // Desktop
    height: variables.$header-heightDesktopMaximized;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

    transition: height calc(#{variables.$header-heightTransitionSpeed} / 2) ease, transform calc(#{variables.$header-heightTransitionSpeed} / 2) ease, opacity calc(#{variables.$header-heightTransitionSpeed} / 2) ease;

    transform: translateY(0);
    opacity: 1;

    // Background Color / Box Shadow
    background: variables.$navbar-backgroundColor;
    box-shadow: variables.$navbar-boxShadowBottom;

    // Minimized state Desktop
    &[data-state="minimized"] {

        transition: height variables.$header-heightTransitionSpeed ease, transform variables.$header-heightTransitionSpeed ease, opacity calc(#{variables.$header-heightTransitionSpeed} / 2) ease;

        @if variables.$header-hideOnScroll {

            transform: translateY(-100%);
            opacity: 0;
        } @else {

            height: variables.$header-heightDesktopMinimized;
        }
    }

    // Mobile
    @include mixins.below('md') {

        height: variables.$header-heightMobileMaximized;
        top: 0;

        // Minimized state Mobile
        &[data-state="minimized"] {

            transition: height variables.$header-heightTransitionSpeed ease, transform variables.$header-heightTransitionSpeed ease, opacity calc(#{variables.$header-heightTransitionSpeed} / 2) ease;

            @if variables.$header-hideOnScroll {

                transform: translateY(-100%);
                opacity: 0;
            } @else {

                height: variables.$header-heightMobileMinimized;
            }
        }
    }
}