///////////////////////////////////////////////
// Navigation Wrapper <header>
///////////////////////////////////////////////

header {

    // Desktop
    height: $header-heightDesktopMaximized;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

    transition: height calc(#{$header-heightTransitionSpeed} / 2) ease, transform calc(#{$header-heightTransitionSpeed} / 2) ease, opacity calc(#{$header-heightTransitionSpeed} / 2) ease;

    transform: translateY(0);
    opacity: 1;

    // Background Color / Box Shadow
    background: $navbar-backgroundColor;
    box-shadow: $navbar-boxShadowBottom;

    // Minimized state Desktop
    &[data-state="minimized"] {

        transition: height $header-heightTransitionSpeed ease, transform $header-heightTransitionSpeed ease, opacity calc(#{$header-heightTransitionSpeed} / 2) ease;

        @if $header-hideOnScroll {

            transform: translateY(-100%);
            opacity: 0;
        } @else {

            height: $header-heightDesktopMinimized;
        }
    }

    // Mobile
    @include below('md') {

        height: $header-heightMobileMaximized;
        top: 0;

        // Minimized state Mobile
        &[data-state="minimized"] {

            transition: height $header-heightTransitionSpeed ease, transform $header-heightTransitionSpeed ease, opacity calc(#{$header-heightTransitionSpeed} / 2) ease;

            @if $header-hideOnScroll {

                transform: translateY(-100%);
                opacity: 0;
            } @else {

                height: $header-heightMobileMinimized;
            }
        }
    }
}