html {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $clr-primary;

    // Set 1rem to 16px
    font-size: 100%;

    // Set 1rem to 14px on tablet and below
    @include below('md') {

        font-size: 87.5%;
    }
}