@use '../variables';
@use '../mixins';

li {

    // Dont to this for the navigation
    &:not(.nav-menu-link) {

        position: relative;
        padding-left: variables.$li-paddingLeft;
    
        & + li {
    
            margin-top: variables.$li-verticalPadding;
        }
    
        &::before {
            
            content: "";
            position: absolute;
            left: variables.$li-listIconLeftOffset;
            top: 50%;
            height: variables.$li-listIconDiameter;
            width: variables.$li-listIconDiameter;
    
            transform: translateY(-50%);
            background-color: variables.$li-listIconColor;
            border-radius: 50%;
        }
    }
}