@use '../variables';
@use '../mixins';

///////////////////////////////////////////////
// Main <main>
///////////////////////////////////////////////

main {

    // Prevent rubberbanding on mac
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    // Desktop
    margin-top: variables.$header-heightDesktopMaximized;
    transition: margin-top variables.$header-heightTransitionSpeed ease;

    overflow: hidden;

    // When header is minimized on Desktop
    header[data-state="minimized"] + & {

        margin-top: variables.$header-heightDesktopMinimized;
    }

    // Mobile
    @include mixins.below('md') {

        margin-top: variables.$header-heightMobileMaximized;

        // When header is minimized on Mobile
        header[data-state="minimized"] + & {

            margin-top: variables.$header-heightMobileMinimized;
        }
    }
}