@use '../variables';
@use '../mixins';

///////////////////////////////////////////////
// Paragraphs
///////////////////////////////////////////////

p {

    margin: 0;
    font-size: variables.$p-fontSize;
    line-height: variables.$p-lineHeight;

    & + p {

        margin-top: variables.$p-consecutiveMarginTop;
    }

    // Lead text
    &.lead {

        font-size: variables.$p-lead-fontSize;
        font-weight: variables.$p-lead-fontWeight;
        color: variables.$p-lead-color;
    }

    &.align-right {

        text-align: right;
    }

    &.text-center {

        text-align: center;
    }
}