@use '../variables';
@use '../mixins';

ul {

    font-size: variables.$ul-fontSize;
    font-weight: variables.$ul-fontWeight;
    color: variables.$ul-color;

    list-style-type: none;
    margin: 0;
    padding: 0;
}