@use '../../variables';
@use '../../mixins';

#burger-menu {

    position: relative;
    height: variables.$navbar-burgerMenuHeight;
    width: variables.$navbar-burgerMenuWidth;
    margin: auto 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px; // Padding for easier click target

    .burger-menu-bar {
        position: absolute;
        display: block;
        height: variables.$navbar-burgerMenuBarHeight;
        width: 100%;
        left: 0;

        background-image: linear-gradient(
            variables.$initial-grad-angle,
            variables.$gradient-color-1 variables.$initial-grad-stop1-pos,
            variables.$gradient-color-2 variables.$initial-grad-stop2-pos,
            variables.$gradient-color-3 variables.$initial-grad-stop3-pos
        );
        border-radius: variables.$navbar-burgerMenuBarBorderRadius;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        &[data-id="1"] {
            top: 0;
        }

        &[data-id="2"] {
            top: 50%;
            transform: translateY(-50%);
        }

        &[data-id="3"] {
            bottom: 0;
        }
    }
}