@use '../../variables';
@use '../../mixins';

///////////////////////////////////////////////
// Navigation Logo
///////////////////////////////////////////////

.nav {

    &-logo { 

        width: auto;
        height: calc(100% - calc(2 * #{variables.$navbar-verticalLogoPadding}));
        padding: variables.$navbar-verticalLogoPadding 0;

        &-img {

            height: 100%;
            width: auto;
            max-width: variables.$navbar-logo-maxWidth;
        }
    }
}