@use '../../variables';
@use '../../mixins';

.nav-menu {
    
    // Desktop
    &-links {

        all: unset;
        display: flex;
        list-style-type: none;
        align-items: center;

        li {

            a {

                font-size: variables.$navbar-linkFontSize;
                font-weight: variables.$navbar-linkFontWeight;
                font-family: variables.$navbar-linkFontFamily;
                line-height: 1;
            }

            // Normal Links
            a:not(.btn) {

                padding: variables.$navbar-linkPadding;

                // Add a bit of top offset to center it correctly
                position: relative;
                top: 2px;

                // Color using linear-gradient
                -webkit-background-clip: text; 
                background-clip: text;         
                color: transparent; 

                transition: background-image variables.$transition-fast ease-in-out;
                background-image: linear-gradient(variables.$clr-white);

                &.current {

                    background-image: variables.$gradient-primary;
                }
            }

            // Call to Action
            a.btn {

                margin-left: variables.$navbar-buttonOffsetLeft;
            }
        }
    }

    &-links-mobile {

        position: absolute;
        top: variables.$header-heightMobileMaximized;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;

        transition: max-height variables.$transition-medium ease-in-out;
        max-height: 0;
        height: 100vh;

        background-color: variables.$navbar-mobile-backgroundColor;
    }
}