@use 'variables';
@use 'mixins';

// This is used to transition the background of buttons on hover
@property --btn-grad-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: #{variables.$initial-grad-angle};
}

@property --btn-grad-stop1-pos {
    syntax: '<percentage>';
    inherits: false;
    initial-value: #{variables.$initial-grad-stop1-pos};
}

@property --btn-grad-stop2-pos {
    syntax: '<percentage>';
    inherits: false;
    initial-value: #{variables.$initial-grad-stop2-pos};
}

@property --btn-grad-stop3-pos {
    syntax: '<percentage>';
    inherits: false;
    initial-value: #{variables.$initial-grad-stop3-pos};
}