@use '../../variables';
@use '../../mixins';

///////////////////////////////////////////////
// Applies to all headings
///////////////////////////////////////////////

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4, 
h5, .h5,
h6, .h6 {

    margin: 0;
    margin-bottom: variables.$headings-marginBottom;
}

// Apply top margin only when the heading is preceded by another element
* + h1, 
* + .h1,
* + h2, 
* + .h2,
* + h3, 
* + .h3,
* + h4, 
* + .h4, 
* + h5, 
* + .h5,
* + h6, 
* + .h6 {

    margin-top: variables.$headings-marginTop;
}
