@use '../../variables';
@use '../../mixins';

h1,
.h1 {

    font-family: variables.$h1-fontFamily;
    font-size: variables.$h1-fontSize;
    font-weight: variables.$h1-fontWeight;
    line-height: variables.$h1-lineHeight;

    color: variables.$h1-color;
}