@use '../../variables';
@use '../../mixins';

h2,
.h2 {

    font-family: variables.$h2-fontFamily;
    font-size: variables.$h2-fontSize;
    font-weight: variables.$h2-fontWeight;
    line-height: variables.$h2-lineHeight;

    color: variables.$h2-color;
}