@use '../../variables';
@use '../../mixins';

h3,
.h3 {

    font-family: variables.$h3-fontFamily;
    font-size: variables.$h3-fontSize;
    font-weight: variables.$h3-fontWeight;
    line-height: variables.$h3-lineHeight;

    color: variables.$h3-color;
}