@use '../../variables';
@use '../../mixins';

h4,
.h4 {

    font-family: variables.$h4-fontFamily;
    font-size: variables.$h4-fontSize;
    font-weight: variables.$h4-fontWeight;
    line-height: variables.$h4-lineHeight;

    color: variables.$h4-color;
}