@use '../variables';
@use '../mixins';

///////////////////////////////////////////////
// Containers
///////////////////////////////////////////////

.container {

    width: variables.$container-maxWidthDesktop;
    margin: auto;
    padding: 0 variables.$container-padding;
    overflow: visible;

    &-fluid {

        width: 100%;
    }

    @include mixins.below('lg'){

        overflow: hidden;
    }

    @include mixins.below('xl') {

        max-width: variables.$container-maxWidthMobile;
    }
}