@use "../mixins";
@use "../variables";

///////////////////////////////////////////////
// Containers
///////////////////////////////////////////////

.container {

    width: variables.$container-maxWidthDesktop;
    margin: auto;
    padding: 0 variables.$container-padding;
    position: relative;

    // Nested container
    .container {

        margin: auto;
    }

    @include mixins.below('md'){

        overflow: hidden;
    }

    @include mixins.below('xxl') {

        max-width: variables.$container-maxWidthMobile;
    }

    &-fullWidth {

        width: 100%;
        padding: 0;
        margin: 0;

        @include mixins.below('xxl') {

            max-width: 100vw;
        }
    }

    &-narrow {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        padding: 0 variables.$container-padding;

        @include mixins.above('lg') {

            max-width: calc(#{variables.$container-maxWidthDesktop} * .666);
        }
    }
}