@use '../variables';
@use '../mixins';

// Hero Section Template
section {

    &[data-component="hero"] {

        position: relative;
        padding: variables.$section-heroVerticalPadding 0;

        display: flex;
        align-items: center;

        // Caluclate height for Desktop
        $section-heroActualHeightDesktop: calc((#{variables.$section-heroHeight} - 2 * #{variables.$section-heroVerticalPadding}) - #{variables.$header-heightDesktopMaximized});
        min-height: $section-heroActualHeightDesktop;

        // @include mixins.background-image(cover); // Include background-image cover
        
        h1, .h1,
        h2, .h2,
        h3, .h3,
        h4, .h4,
        h5, .h5,
        h6, .h6,
        p {

            // Override the text Color
            color: variables.$section-heroTextColor;
        }

        // Overlay
        &.overlay::before {

            content: "";
            position: absolute;
            inset: 0;
            background-color: variables.$section-heroBackgroundImageOverlayColor;
            opacity: variables.$section-heroBackgroundImageOverlayopacity;
        }


        & > * {

            position: relative;
            z-index: 1;
        }

        // Calucalate height on mobile
        @include mixins.below('md') {

            $section-heroActualHeightMobile: calc(#{variables.$section-heroHeight} - 2 * #{variables.$section-heroVerticalPadding} - #{variables.$header-heightMobileMaximized});
            min-height: $section-heroActualHeightMobile;
        }

        .col-12:has(img) {

            position: relative;
            display: flex;
            justify-content: flex-end;

            // Image Background
            &::after {

                content: "";
                position: absolute;
                top: 50%;
                left: 47.5%;
                width: 175%;
                height: 175%;
                background: radial-gradient(circle, variables.$clr-darkGray 0%, rgba(255, 255, 255, 0) 60%);
                background: radial-gradient(
                    ellipse,
                    rgba(20, 20, 20, 1) 0%,    
                    rgba(255, 255, 255, 0) 60% 
                );
                z-index: -1;
                transform: translate(-50%, -50%);
            }
        }
    }
}