/* Error: There is no module with the namespace "map".
 *    ,
 * 10 |     @if map.has-key(variables.$breakpoints, $breakpoint) {
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets/scss/mixins.scss 10:9             below()
 *   assets/scss/layout/_container.scss 21:5  @use
 *   assets/scss/main.scss 16:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a    \2577 \a 10 \2502      @if map.has-key(variables.$breakpoints, $breakpoint) {\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets/scss/mixins.scss 10:9             below()\a   assets/scss/layout/_container.scss 21:5  @use\a   assets/scss/main.scss 16:1               root stylesheet';
}
